<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti culpa, minus praesentium sapiente explicabo commodi iste repellendus quo, eligendi libero ex perspiciatis aperiam nobis laborum vero ipsam nulla quia recusandae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti culpa, minus praesentium sapiente explicabo commodi iste repellendus quo, eligendi libero ex perspiciatis aperiam nobis laborum vero ipsam nulla quia recusandae!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti culpa, minus praesentium sapiente explicabo commodi iste repellendus quo, eligendi libero ex perspiciatis aperiam nobis laborum vero ipsam nulla quia recusandae!</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>